@import "tailwindcss";

:root {
  --background: var(--color-gray-50);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.form-input {
  @apply block w-full rounded-md
    bg-white px-3 py-1.5
    text-base text-gray-900
    outline-1 -outline-offset-1
    placeholder:text-gray-400
    focus:outline-2 focus:-outline-offset-2
    sm:text-sm/6 shadow-xs
    inset-ring-1
    hover:bg-gray-50;
}
.form-input-normal,
.form-select-normal {
  @apply outline-gray-300
    inset-ring-gray-300
    focus:outline-indigo-600;
}
.form-input-error,
.form-select-error {
  @apply outline-red-300
    inset-ring-red-200
    focus:outline-red-500;
}
.form-select {
  @apply col-start-1 row-start-1 w-full
    appearance-none rounded-md bg-white py-1.5 pr-8 pl-3
    text-base text-gray-900
    outline-1 -outline-offset-1
    focus:outline-2 focus:-outline-offset-2
    sm:text-sm/6 shadow-xs inset-ring-1;
}

.form-input-submit {
  @apply rounded-md bg-indigo-600 px-3 py-2
    text-sm font-semibold text-white
    shadow-xs hover:bg-indigo-500
    focus-visible:outline-2 focus-visible:outline-offset-2
    focus-visible:outline-indigo-600 cursor-pointer;
}
.form-input-cancel {
  @apply mt-3 inline-flex w-full justify-center
    rounded-md bg-white px-3 py-2 text-sm
    font-semibold text-gray-900 shadow-xs
    inset-ring inset-ring-gray-300 hover:bg-gray-50
    sm:mt-0 sm:w-auto cursor-pointer;
}
